interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - JBIDWEsRXZPkQJPUHkaH5t26psMcJxS2x8kOPh0A
    method: GET
    uri: https://api.propublica.org/congress/v1/members/G000562.json
  response:
    body:
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2020 Pro\
        \ Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n      \
        \   \"id\": \"G000562\",\n         \"member_id\": \"G000562\",\n         \n\
        \         \"first_name\": \"Cory\",\n         \"middle_name\": null,\n   \
        \      \"last_name\": \"Gardner\",\n         \"suffix\": null,\n         \"\
        date_of_birth\": \"1974-08-22\",\n         \"gender\": \"M\",\n         \"\
        url\": \"https://www.gardner.senate.gov\",\n         \"times_topics_url\"\
        : \"\",\n         \"times_tag\": \"\",\n         \"govtrack_id\": \"412406\"\
        ,\n         \"cspan_id\": \"623308\",\n         \"votesmart_id\": \"30004\"\
        ,\n         \"icpsr_id\": \"21112\",\n         \"twitter_account\": \"SenCoryGardner\"\
        ,\n         \"facebook_account\": \"SenCoryGardner\",\n         \"youtube_account\"\
        : null,\n         \"crp_id\": \"N00030780\",\n         \"google_entity_id\"\
        : \"/m/0czd33q\",\n         \"rss_url\": null,\n         \"in_office\": true,\n\
        \         \"current_party\": \"R\",\n         \"most_recent_vote\": \"2020-07-23\"\
        ,\n         \"last_updated\": \"2020-07-24 08:25:21 -0400\",\n         \"\
        roles\": [\n {\n           \"congress\": \"116\",\n           \"chamber\"\
        : \"Senate\",\n           \"title\": \"Senator, 2nd Class\",\n           \"\
        short_title\": \"Sen.\",\n           \"state\": \"CO\",\n           \"party\"\
        : \"R\",\n           \"leadership_role\": null,\n           \"fec_candidate_id\"\
        : \"H0CO04122\",\n           \"seniority\": \"5\",\n           \"senate_class\"\
        : \"2\",\"state_rank\": \"junior\",\"lis_id\": \"S377\",\n           \"ocd_id\"\
        : \"ocd-division/country:us/state:co\",\n           \"start_date\": \"2019-01-03\"\
        ,\n           \"end_date\": \"2021-01-03\",\n           \"office\": \"354\
        \ Russell Senate Office Building\",\n           \"phone\": \"202-224-5941\"\
        ,\n           \"fax\": \"202-225-5870\",\n           \"contact_form\": \"\
        https://www.gardner.senate.gov/contact-cory/email-cory\",\n           \"cook_pvi\"\
        : null,\n           \"dw_nominate\": 0.444,\n           \"ideal_point\": null,\n\
        \           \"next_election\": \"2020\",\n           \"total_votes\": 568,\n\
        \           \"missed_votes\": 10,\n           \"total_present\": 0,\n    \
        \       \"senate_class\": \"2\",\n           \"state_rank\": \"junior\",\n\
        \           \"lis_id\": \"S377\",\n           \"bills_sponsored\": 81,\n \
        \          \"bills_cosponsored\": 292,\n           \"missed_votes_pct\": 1.76,\n\
        \           \"votes_with_party_pct\": 96.75,\n           \"votes_against_party_pct\"\
        : 3.25,\n           \"committees\": [\n           {\n             \"name\"\
        : \"Committee on Energy and Natural Resources\",\n             \"code\": \"\
        SSEG\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSEG.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 7,\n             \"begin_date\": \"2019-01-09\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"Committee on Foreign Relations\",\n            \
        \ \"code\": \"SSFR\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSFR.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 4,\n             \"begin_date\": \"2019-01-09\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"Committee on Commerce, Science, and Transportation\"\
        ,\n             \"code\": \"SSCM\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSCM.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 8,\n             \"begin_date\": \"2019-01-09\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"Commission on Security and Cooperation in Europe\"\
        ,\n             \"code\": \"JCSE\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/JCSE.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 3,\n             \"begin_date\": \"\",\n\
        \             \"end_date\": \"2021-01-03\"\n           }\n           ],\n\
        \           \"subcommittees\": [\n           {\n             \"name\": \"\
        Energy Subcommittee\",\n             \"code\": \"SSEG01\",\n             \"\
        parent_committee_id\": \"SSEG\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSEG/subcommittees/SSEG01.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 5,\n             \"begin_date\": \"2019-02-05\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"Public Lands, Forests, and Mining Subcommittee\"\
        ,\n             \"code\": \"SSEG03\",\n             \"parent_committee_id\"\
        : \"SSEG\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSEG/subcommittees/SSEG03.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 6,\n             \"begin_date\": \"2019-02-05\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"National Parks Subcommittee\",\n             \"\
        code\": \"SSEG04\",\n             \"parent_committee_id\": \"SSEG\",\n   \
        \          \"api_uri\": \"https://api.propublica.org/congress/v1/116/senate/committees/SSEG/subcommittees/SSEG04.json\"\
        ,\n             \"side\": \"majority\",\n             \"title\": \"Member\"\
        ,\n             \"rank_in_party\": 4,\n             \"begin_date\": \"2019-02-05\"\
        ,\n             \"end_date\": \"2021-01-03\"\n           },\n           {\n\
        \             \"name\": \"Water and Power Subcommittee\",\n             \"\
        [...]
