interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - JBIDWEsRXZPkQJPUHkaH5t26psMcJxS2x8kOPh0A
    method: GET
    uri: https://api.propublica.org/congress/v1/members/senate/co/current.json
  response:
    body:
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2020 Pro\
        \ Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n      \
        \   \"id\": \"G000562\",\n         \"name\": \"Cory Gardner\",\n         \"\
        first_name\": \"Cory\",\n         \"middle_name\": null,\n         \"last_name\"\
        : \"Gardner\",\n         \"suffix\": null,\n         \"role\": \"Senator,\
        \ 2nd Class\",\n         \"gender\": \"M\",\n         \"party\": \"R\",\n\
        \         \"times_topics_url\": \"\",\n         \"twitter_id\": \"SenCoryGardner\"\
        ,\n         \"facebook_account\": null,\n         \"youtube_id\": null,\n\
        \         \"seniority\": \"5\",\n         \"next_election\": \"2020\",\n \
        \        \"api_uri\": \"https://api.propublica.org/congress/v1/members/G000562.json\"\
        \n      },\n      {\n         \"id\": \"B001267\",\n         \"name\": \"\
        Michael Bennet\",\n         \"first_name\": \"Michael\",\n         \"middle_name\"\
        : null,\n         \"last_name\": \"Bennet\",\n         \"suffix\": null,\n\
        \         \"role\": \"Senator, 3rd Class\",\n         \"gender\": \"M\",\n\
        \         \"party\": \"D\",\n         \"times_topics_url\": \"http://topics.nytimes.com/top/reference/timestopics/people/b/michael_bennet/index.html\"\
        ,\n         \"twitter_id\": \"SenBennetCo\",\n         \"facebook_account\"\
        : \"senbennetco\",\n         \"youtube_id\": \"SenatorBennet\",\n        \
        \ \"seniority\": \"11\",\n         \"next_election\": \"2022\",\n        \
        \ \"api_uri\": \"https://api.propublica.org/congress/v1/members/B001267.json\"\
        \n      }\n]}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - QTMuKGQiIAMFhKQ=
      x-amzn-RequestId:
      - 18134d01-1ed7-4bdb-b3b4-529211488ff4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-API-Key:
      - JBIDWEsRXZPkQJPUHkaH5t26psMcJxS2x8kOPh0A
    method: GET
    uri: https://api.propublica.org/congress/v1/members/house/co/current.json
  response:
    body:
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2020 Pro\
        \ Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n      \
        \   \"id\": \"D000197\",\n         \"name\": \"Diana DeGette\",\n        \
        \ \"first_name\": \"Diana\",\n         \"middle_name\": null,\n         \"\
        last_name\": \"DeGette\",\n         \"suffix\": null,\n         \"role\":\
        \ \"Representative\",\n         \"gender\": \"F\",\n         \"party\": \"\
        D\",\n         \"times_topics_url\": null,\n         \"twitter_id\": \"RepDianaDeGette\"\
        ,\n         \"facebook_account\": \"DianaDeGette\",\n         \"youtube_id\"\
        : \"RepDianaDeGette\",\n         \"seniority\": \"24\",\n         \"next_election\"\
        : \"2020\",\n         \"api_uri\": \"https://api.propublica.org/congress/v1/members/D000197.json\"\
        ,\n         \"district\": \"1\",\n         \"at_large\": false\n      },\n\
        \      {\n         \"id\": \"N000191\",\n         \"name\": \"Joe Neguse\"\
        ,\n         \"first_name\": \"Joe\",\n         \"middle_name\": null,\n  \
        \       \"last_name\": \"Neguse\",\n         \"suffix\": null,\n         \"\
        role\": \"Representative\",\n         \"gender\": \"M\",\n         \"party\"\
        : \"D\",\n         \"times_topics_url\": null,\n         \"twitter_id\": \"\
        RepJoeNeguse\",\n         \"facebook_account\": n[...]
